.mapContainer {
  flex: 1;
  width: 100%;
  background: var(--primary-green-light);
  position: relative;
  min-height: 400px;
}

@media (min-width: 1024px) {
  .mapContainer {
    min-height: 600px;
  }
}